/* Root Variables (Light Theme by Default) */
:root {
    --background-color: #fff;
    --header-background: #f8f9fa;
    --text-color: #333;
    --row-odd-color: #f9f9f9;
    --row-hover-color: #f1f1f1;
    --border-color: #ddd;
    --btn-bg-color: #007bff;
    --btn-text-color: #fff;
    --btn-hover-bg-color: #0056b3;
    --delete-btn-bg-color: #dc3545;
    --delete-btn-hover-bg-color: #a71d2a;
}

/* Dark Mode Variables */
html.dark {
    --background-color: #0f172a;
    --header-background: #0f172a;
    --text-color: #ccc;
    --row-odd-color: #334155;
    --row-hover-color: #333348;
    --border-color: #445769;
    --btn-bg-color: #007bff;
    --btn-text-color: #fff;
    --btn-hover-bg-color: #0056b3;
    --delete-btn-bg-color: #dc3545;
    --delete-btn-hover-bg-color: #a71d2a;
}

/* Table Container */
.table-container {
    overflow-x: auto;
    margin: 0;
}

/* Table Styling with Rounded Corners */
.custom-table {
    width: 100%;
    border-collapse: separate;
    /* Separate borders for rounded corners */
    border-spacing: 0;
    /* Remove space between borders */
    font-family: Arial, sans-serif;
    font-size: 14px;
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 8px;
    /* Rounded corners for the whole table */
    overflow: hidden;
    /* Ensure that the content inside does not overflow the rounded corners */
}

/* Table Header */
.custom-table thead th {
    background-color: var(--header-background);
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid var(--border-color);
    border-top-left-radius: 8px;
    /* Rounded top left corner */
    border-top-right-radius: 8px;
    /* Rounded top right corner */
    color: var(--text-color);
}

.custom-table thead th.text-center {
    text-align: center;

}

/* Table Rows */
.custom-table tbody tr {
    border-bottom: 1px solid var(--border-color);
}

/* Alternate Row Highlight */
.custom-table tbody tr:nth-child(odd) {
    background-color: var(--row-odd-color);
}

/* Hover Effect on Rows */
.custom-table tbody tr:hover {
    background-color: var(--row-hover-color);
}

/* Table Cells */
.custom-table td {
    padding: 10px;
    color: var(--text-color);
}

/* Buttons */
.custom-table .btn {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* Edit Button */
.custom-table .edit-btn {
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
}

.custom-table .edit-btn:hover {
    background-color: var(--btn-hover-bg-color);
}

/* Delete Button */
.custom-table .delete-btn {
    background-color: var(--delete-btn-bg-color);
    color: var(--btn-text-color);
}

.custom-table .delete-btn:hover {
    background-color: var(--delete-btn-hover-bg-color);
}

/* Styling for the search box container */
.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 10px;
    width: 250px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for the search icon */
.search-icon {
    font-size: 18px;
    color: #888;
    margin-right: 8px;
}

/* Styling for the search input */

.search-input .flex {
    display: flex;
}

.search-input .inset-y-0 {
    bottom: 0;
    top: 0;
}

.search-input .ps-10 {
    -webkit-padding-start: 2.5rem;
    padding-inline-start: 2.5rem;
    padding-left: 2.5rem;
}

.py-2 {
    padding-top: 0.5rem
        /* 12px */
    ;
    padding-bottom: 0.5rem
        /* 12px */
    ;
}


/* The Modal (background) */
.custom-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    /* Sit on top */
    /* padding-top: 100px; */
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */

    z-index: 990;

    /* transform: translate(-50%, 0); */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    /* border-radius: 8px; */
    
    /* pointer-events: none; */
    transition: opacity 0.4s ease;

}

.custom-modal .modal-content-wraper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    z-index: 991;
}

/* Modal Content */
.custom-modal .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 10px 20px 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* -webkit-animation-name: animatetop; */
    /* -webkit-animation-duration: 0.4s; */
    /* animation-name: animatetop; */
    /* animation-duration: 0.4s; */
    border-radius: 10px;
    z-index: 992;
}

.dark .custom-modal .modal-content {
    background-color: var(--background-color);
    color: var(--text-color);
    border-color: var(--border-color);
}

.custom-modal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-modal .modal-body {
    padding-top: 5px;
}

.custom-modal .modal-body-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.custom-modal .modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.custom-modal .modal-content.show {
    pointer-events: auto;
    animation: animatetop-show 0.4s forwards;
}
  
.custom-modal .modal-content.hide {
    animation: animatetop-hide 0.4s forwards;
}
  
  /* Show Animation */
  @keyframes animatetop-show {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
      /* transform: translate(-50%, -50%); */
    }
  }
  
  /* Hide Animation */
  @keyframes animatetop-hide {
    from {
      top: 0;
      opacity: 1;
      /* transform: translate(-50%, -50%); */
    }
    to {
      top: -300px;
      opacity: 0;
      /* transform: translate(-50%, 0); */
    }
  }

/* The Close Button */
.custom-modal .close-model {
    color: rgb(48, 48, 48);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.invalid, .dark .invalid {
    border: 1px solid red;
}

.custom-modal .close-model:hover,
.custom-modal .close-model:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.dark .custom-modal .close-model {
    color: var(--text-color);
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;

    opacity: 1;
    visibility: visible;
    height: auto;
    width: auto;
    transition: opacity 0.5s ease, visibility 0.5s ease, height 0.5s ease, width 0.5s ease;
    overflow: hidden; /* Ensures smooth height transition */
}

/* Visible state */
.alert.alert-visible {
    opacity: 1;
    visibility: visible;
    height: auto;    
    transition: opacity 0.5s ease, visibility 0.5s ease, height 0.5s ease, width 0.5s ease;
    overflow: hidden; /* Ensures smooth height transition */
}

/* Hidden state */
.alert.alert-hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
    width: 0;
    padding: 0; /* Optional: To remove internal padding when hidden */
    margin: 0; /* Optional: To collapse external margins */
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.color_code {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    border-radius: 0.5rem;
    height: 32px;
}

.dark .color_code{
    border:1px solid var(--border-color);
}

.color_code::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color_code::-webkit-color-swatch {
    border: 0;
    border-radius: 0;

    
}

.color_code::-moz-color-swatch,
.color_code::-moz-focus-inner {
    border: 0;
    
}

.color_code::-moz-focus-inner {
    padding: 0;
}